.
<!--<div class="container spacer">
  <button routerLink="/consoles" class="btn btn-primary">Consoles</button>
  <button routerLink="/new-console" class="btn btn-primary">Ajouter Console</button>

  <button routerLink="/jeux" class="btn btn-primary">Jeux</button>
  <button routerLink="/new-jeu" class="btn btn-primary">Ajouter Jeu</button>

  <button routerLink="/villes" class="btn btn-primary">Villes</button>
  <button routerLink="/new-ville" class="btn btn-primary">Ajouter Ville</button>

  <button routerLink="/tournois" class="btn btn-primary">Tournois</button>
  <button routerLink="/new-tournoi" class="btn btn-primary">Ajouter Tournoi</button>
</div>
<router-outlet>

</router-outlet>

-->


<div class="wrapper" *ngIf="isAuthenticatedUser">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
    <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>

<div class="wrapper" *ngIf="!isAuthenticatedUser">

  <div class="main-panel">
    <div class="content">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- main app container
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

-->

