<div class="container spacer">
  <button routerLink="/consoles" class="btn btn-primary">Consoles</button>
  <button routerLink="/new-console" class="btn btn-primary">Ajouter Console</button>

  <button routerLink="/jeux" class="btn btn-primary">Jeux</button>
  <button routerLink="/new-jeu" class="btn btn-primary">Ajouter Jeu</button>

  <button routerLink="/villes" class="btn btn-primary">Villes</button>
  <button routerLink="/new-ville" class="btn btn-primary">Ajouter Ville</button>

  <button routerLink="/tournois" class="btn btn-primary">Tournois</button>
  <button routerLink="/new-tournoi" class="btn btn-primary">Ajouter Tournoi</button>
</div>
<router-outlet>

</router-outlet>

