<div class="container spacer">
  <div class="panel panel-primary" *ngIf="mode==1">
    <div class="panel-heading">Modifier Jeu</div>
    <div class="panel-body">
      <div>

        <div class="form-group">
          <label class="control-label">Type:</label>
          <select class="form-control" ngModel name="enLigne">
            <option value="true" selected>En Ligne</option>
            <option value="false">Hors Ligne</option>
          </select>
        </div>

        <div *ngIf="enLigne != undefined">
          <div *ngIf="enLigne == true">
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>

        <button class="btn btn-primary" (click)="publier()">Save</button>

      </div>
    </div>
  </div>
</div>
