<div class="container spacer">

  <div class="panel panel-default">
    <div class="panel-heading">Nouveau Jeu</div>
    <div class="panel-body">

      <form #f="ngForm" (ngSubmit)="onSaveJeu(f.value)">
        <div class="form-group">
          <label class="control-label">Nom:</label>
          <input #nom="ngModel" class="form-control" type="text" ngModel name="nom" required>
        </div>

        <div class="form-group">
          <label class="control-label">Affiche URL:</label>
          <input #nom="ngModel" class="form-control" type="text" ngModel name="afficheUrl" required>
        </div>

        <div class="form-group">
          <label class="control-label">Type:</label>
            <select class="form-control" ngModel name="type" required>
              <option [ngValue]="true" >True</option>
              <option [ngValue]="false" >False</option>
            </select>
        </div>

        <div class="form-group">
          <label class="control-label">Console:</label>
          <angular2-multiselect [data]="allConsoles"
                                [(ngModel)]="selectedItems"  name="consoles"
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)" required>
            <c-item>
              <ng-template let-item="item">
                <label style="color: #333;min-width: 150px;">{{item.nom}}</label>
              </ng-template>
            </c-item>
          </angular2-multiselect>
        </div>

        <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Enregistrer</button>

      </form>

    </div>
  </div>

</div>

