<div *ngIf="diviseTeams()"></div>
<div class="container">
  <h1>{{tournoi.titre}}</h1>
  <h2>{{tournoi.description}}</h2>
  <div class="tournament-bracket tournament-bracket--rounded">
    <div  *ngFor="let number of matchs"  class="tournament-bracket__round ">
      <h3 class="tournament-bracket__round-title">Semifinals</h3>
      <ul class="tournament-bracket__list">
        <li *ngFor="let number of numbers"  class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="{{number}}">
            <table class="tournament-bracket__table">
              <caption class="tournament-bracket__caption">
                <time datetime="1998-02-20">20 February 1998</time>
              </caption>
              <thead class="sr-only">
              <tr>
                <th>Country</th>
                <th>Score</th>
              </tr>
              </thead>
              <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team">
                <td class="tournament-bracket__country">
                  <abbr class="tournament-bracket__code" title="Canada">CAN</abbr>
                  <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                </td>
                <td class="tournament-bracket__score">
                  <span class="tournament-bracket__number">1</span>
                </td>
              </tr>
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <abbr class="tournament-bracket__code" title="Czech Republic">CZE</abbr>
                  <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                </td>
                <td class="tournament-bracket__score">
                  <span class="tournament-bracket__number">2</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </li>
        <div *ngIf="cutTeams()"></div>
      </ul>

    </div>

  </div>
</div>
